<%= form_with(model: @photo, local: true) do |pho| %>

<div class = "col-xs-1"></div>
<div class = "photo-image-area col-xs-3">
	<p>写真［必須］</p>
	<img id="prev-img" style="width:250px;height:250px;display: none;" />
	<%= pho.file_field :avatar, class: "image", id: "myfile"%>

	<!--投稿画像のプレビュー表示-->
	<script>
	$(function(){
	  $('#myfile').change(function(e){
	    //ファイルオブジェクトを取得する
	    var file = e.target.files[0];
	    var reader = new FileReader();
	    //画像でない場合は処理終了
	    if(file.type.indexOf("image") < 0){
	      alert("画像ファイルを指定してください。");
	      return false;
	    }
	    //アップロードした画像を設定する
	    reader.onload = (function(file){
	      return function(e){
	        $("#prev-img").attr("src", e.target.result);
	        $("#prev-img").attr("title", file.name);
	        $("#prev-img").show();
	      };
	    })(file);
	    reader.readAsDataURL(file);
	  });
	});
	</script>
</div>

<div class = "photo-info-area col-xs-8">
	<div class="form-group row">
		<p class="col-xs-2">タイトル［必須］</p>
		<div class ="col-xs-8 ">
			<%= pho.text_field :title, placeholder: "写真のタイトルを入力", class: "form-control" %>
		</div>
	</div>

	<div class="form-group row">
		<p class="col-xs-2">説明文［任意］</p>
		<div class ="col-xs-8">
			<%= pho.text_area :photo_info, class: "form-control", id:"photo-info-box"%>
		</div>
	</div>

	<div class="form-group row">
		<p class="col-xs-2">撮影場所［必須］</p>
		<div class ="col-xs-8 ">
			<p>地図をクリックすると、クリックした場所にマーカーが表示されます。<br>
				また、地図の上にある検索バーを使えば、検索した場所まで地図を移動させることができます。<br>
				選択した場所の緯度、経度、住所が地図の下に表示されます。
			</p>
		</div>
	</div>

	<!--GoogleMapの検索移動機能-->
	<p>検索バー：
	<input id="address" type="textbox" size="50" placeholder="住所・もしくは場所を入力">
	<input type="button"  value="検索" onclick="codeAddress()">
	</p>
	<!--GoogleMapと撮影場所のマーカーの設定-->
	<div class="form-group row">
		<div class = "map-area col-xs-10">
			<div class="google-map"></div>
			<div id="new-photo-map"></div>
		<script>
		var latlng = new google.maps.LatLng(35.681236, 139.767125);
		var Options = {
		 zoom: 6,      //地図の縮尺値
		 center: latlng,    //地図の中心座標
		 mapTypeId: 'roadmap'   //地図の種類
		};

		var map = new google.maps.Map(document.getElementById('new-photo-map'), Options);
		// clickイベントを取得するListenerを追加
		var marker = new google.maps.Marker({
		                    position: map.getCenter(),
		                    map: map
		                });

		//入力された住所から緯度と経度を取得し、そこに地図を移動させる
		function codeAddress() {
		 var address = document.getElementById("address").value;
		 var geocoder = new google.maps.Geocoder();
		 geocoder.geocode( { 'address': address,'region': 'jp'},
		    function(results, status) {
		  if (status == google.maps.GeocoderStatus.OK) {
		    map.setCenter(results[0].geometry.location);
		    map.setZoom(8)
		   }else{
		    alert("Geocode 取得に失敗しました reason: "
		         + status);
		   }
		  });
		 }
　　　　　//地図をクリックした時に、その地点の緯度と経度を取得
		google.maps.event.addListener(map, 'click', function (e) {
		      var loc = e.latLng;
		      marker.setPosition(loc);
		       $("#latitude").val(loc.lat());
		       $("#longitude").val(loc.lng());
		       //住所取得のためジオコーディングのFunctionを呼び出す
		       geocode();
		    });

		//選択した緯度と経度から住所を取得する関数
		 function geocode(){  var geocoder = new google.maps.Geocoder();
		  geocoder.geocode({ 'location': marker.getPosition()}, 
		     function(results, status) {
		   if (status == google.maps.GeocoderStatus.OK && results[0]){
		   	console.log(results[0])
		     document.getElementById('photo_address').value = 
		         results[0].formatted_address.replace(/^日本、/, '').replace( /Unnamed Road,/g, "" ).replace( /〒/g, "" ).trim().replace( /^[0-9０-９]{3}-?[0-9０-９]{4}/g, "" );
		   }else{
		     document.getElementById('photo_address').value = 
		       "Geocode 取得に失敗しました";
		    alert("Geocode 取得に失敗しました reason: "
		           + status);
		   }
		  });
		 }
		</script>
		<br>
		<%= pho.number_field :latitude, placeholder: "緯度",class: "form-control" , id:"latitude",  step: :any, readonly:"true"%>
		<%= pho.number_field :longitude, placeholder: "経度",class: "form-control" , id:"longitude",  step: :any, readonly:"true"%>
		<%= pho.text_field :photo_address, placeholder: "市町村を入力",class: "form-control" , id:"photo_address", readonly:"true"%>
		</div>
	</div>

	<div class="form-group row">
		<p class="col-xs-2">タグ［任意］</p>
		<div class ="col-xs-8">
			<p>写真に合わせたワードを設定することで、<br>
			検索の対象となり閲覧の機会が増えます</p>
		<textarea name="tag_name" class="form-control post_form" placeholder=",(カンマ)かスペースを挟めば一度に複数のタグを登録できます"></textarea>
		</div>
	</div>

	<div class="form-group row">
		<p class="col-xs-2">公開設定［必須］</p>
		<div class ="col-xs-8">
			<div class="radio">
				<%= pho.radio_button :public_flag, "true" , {:checked => true} %>
				<label for="radio-1" class="radio-label col-xs-6"> 公開</label>
					<%= pho.radio_button :public_flag, "false" %>
				<label for="radio-2" class="radio-label col-xs-6"> 非公開</label>
			</div>
			<br>
			<p>公開：サイト上で公開され、検索の対象にもなります。<br>
			非公開：投稿した本人のみが閲覧でき、検索対象にもなりません。</p>
		</div>
	</div>
	<div class="form-group row">
		<%= pho.submit "上記の内容で写真を投稿する" , class:'btn btn-success col-xs-10'%>
	</div>
</div>
<% end %>
